@media screen and (max-width: 940px) {
  .nav-bar {
    display: none;
  }
  .m-nav-bar.fixed {
    border-bottom: 1px solid #e9e9e9;
    transition: 0.3s;
  }
  .m-nav-bar {
    display: block;
    width: 100%;
    height: 59px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  .m-nav-bar.click {
    height: auto;
    transition: 0.5s ease-in-out;
  }
  .m-nav-bar-inner {
    width: 95%;
    height: 59px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar-logo {
    width: 76px;
  }
  .nav-bar-logo a img {
    width: 100%;
  }
  .m-navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .m-navbar-right button {
    width: 76px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #3182f6;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .m-navbar-right svg {
    stroke: #b0b8c1;
    cursor: pointer;
  }
  .lucide-x {
    display: none;
  }
  .m-menu {
    width: 100%;
    background-color: white;
  }
  .m-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .m-menu ul li a {
    width: 100%;
    padding: 18px 20px;
    font-size: 15px;
    line-height: 20px;
    color: #222;
  }
  .m-menu ul li:last-child {
    width: auto;
    display: flex;
    align-items: center;
  }
  .m-menu ul li:last-child a {
    width: auto;
  }
  .m-menu ul li:last-child a:hover {
    background-color: lightgray;
  }
  .m-menu ul li:not(:last-child) a:hover {
    background-color: lightgray;
  }
  .main-content {
    margin-top: 100px;
  }
  .main-content h3 {
    font-size: 33px;
  }
  .main-text-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-text-content p {
    max-width: 260px;
    font-size: 22px;
    padding: 100px 0;
  }
  .home {
    padding: 100px 0;
  }
  .home-title h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .home-title p {
    font-size: 28px;
  }
  .home-img {
    height: 600px;
  }
  .home-img-right {
    width: 375px;
    height: 587px;
    top: 0;
    right: 5%;
  }
  .home-img-left {
    width: 375px;
    height: 587px;
    top: 0;
    left: 5%;
  }
  .home-wrapper p.home-small-text {
    position: relative;
    width: 100%;
    font-size: 17px;
  }
  .send-wrapper ul {
    gap: 50px;
  }
  .send-wrapper ul li {
    width: 100%;
    display: flex;
    max-width: auto;
    flex-direction: column;
  }
  .send {
    padding: 100px 0;
  }
  .send-wrapper ul li .send-content {
    width: 100%;
    padding-left: 38px;
  }
  .send-content h3 {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 700;
  }
  .send-content h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .send-content p {
    font-size: 15px;
  }
  .send-wrapper ul li .send-img {
    width: 100%;
  }
  .send-img img {
    width: 100%;
  }
  .send-wrapper ul li:nth-child(2) .send-img {
    position: relative;
    order: 2;
  }
  .send-wrapper ul li:nth-child(2) .send-img img {
    position: relative;
    right: 0;
  }
  .send-wrapper ul li:nth-child(2) .send-content {
    padding-left: 38px;
    order: 1;
  }
  .loan .loan-wrapper {
    height: auto;
  }
  .loan {
    padding: 100px 0;
  }
  .loan .loan-wrapper .loan-img {
    width: 375px;
    height: 585px;
    position: relative;
    top: 0;
    right: 0;
    margin: 0 auto;
  }
  .loan-content {
    position: relative;
    top: 60px;
  }
  .loan-content h4 {
    font-size: 28px;
    line-height: 1.4;
  }
  .loan-content p {
    font-size: 17px;
  }
  .credit {
    height: auto;
    padding: 100px 0;
  }
  .credit .credit-wrapper {
    height: auto;
  }
  .credit-list ul {
    gap: 30px;
  }
  .credit-list ul li {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .credit-img {
    width: 80px;
  }
  .credit-list ul li p:nth-of-type(1) {
    font-size: 24px;
  }
  .credit-list ul li p:nth-of-type(2) {
    font-size: 15px;
  }
  .invest {
    padding: 100px 0;
    overflow: hidden;
  }
  .invest-content {
    height: auto;
  }
  .invest-info {
    display: none;
  }
  .mobile-invest-info {
    display: block;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 20px;
    pointer-events: none;
  }
  .invest-img {
    width: 375px;
    height: 587px;
  }
  .invest-inner-img {
    bottom: 243px;
  }
  .invest-inner-img img {
    width: 100px;
  }
  .invest-bottom-text {
    font-size: 20px;
    color: rgb(51, 61, 75);
  }
  .section-center-img {
    width: 80%;
    height: 665px;
    margin: 0 auto;
  }
  .center-inner-img {
    background-size: auto 100%;
    background-position: -700px center;
  }
  .section-center-img span {
    width: 260px;
    font-size: 55px;
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.45);
    white-space: pre-wrap;
    text-align: center;
  }
  .me {
    padding: 100px 0;
  }
  .me-title {
    font-size: 36px;
    padding-bottom: 64px;
  }
  .me-first {
    gap: 30px;
    margin-bottom: 100px;
  }
  .me-first-content h4 {
    font-size: 26px;
  }
  .me-first-content h4 span {
    display: block;
  }
  .me-first-content p {
    font-size: 18px;
  }
  /*  */
  .me-second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  .me-second-left {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .me-second-left img {
    width: 240px;
    margin-bottom: 30px;
  }
  .me-second-left h4 {
    font-size: 26px;
  }

  .me-second-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0px;
  }
  .me-second-right img {
    width: 240px;
    margin-bottom: 30px;
  }
  .me-second-right p {
    font-size: 18px;
    width: 240px;
    font-weight: 600;
  }
  .me-third img {
    margin-bottom: 30px;
  }
  .me-third-content {
    flex-direction: column;
  }
  .me-third-content h4 {
    width: 100%;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 30px;
  }
  .me-third-content p {
    width: 100%;
    font-size: 18px;
  }
  .service {
    padding: 100px 0;
  }
  .service-wrapper ul {
    margin-top: 50px;
  }
  .service-wrapper ul li {
    width: 100%;
    margin-bottom: 50px;
  }
  .service-wrapper ul li .service-img {
    width: 60px;
    height: 60px;
    border-radius: 16px;
  }
  .service-wrapper ul li h5 {
    font-size: 18px;
    padding: 16px 0 4px 0;
  }
  .service-wrapper ul li p {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: #8b95a1;
  }
  .business {
    padding: 100px 0;
  }
  .business img {
    width: auto;
    height: 600px;
  }
  .business-content h4 {
    font-size: 36px;
  }
  .business-content p {
    font-size: 18px;
    margin-bottom: 100px;
  }
  .business ul {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 48px;
  }
  .business ul li {
    width: 50%;
    height: auto;
  }
  .business ul li span {
    font-size: 26px;
    padding-bottom: 10px;
  }
  .business ul li p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0;
  }
  .business ul li a {
    position: relative;
    bottom: 0;
    width: 126px;
    padding: 12px 10px;
  }
  .main-footer {
    padding: 60px 40px 80px;
  }
  .footer-wrapper {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .footer-wrapper ul {
    padding-bottom: 40px;
  }
  .footer-wrapper ul li a {
    padding: 7px 0;
  }
  .footer-term ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

@media screen and (max-width: 377px) {
  .invest-inner-img {
    bottom: 273px;
  }
}
